@{
    ViewData["Title"] = "Photo Details";
}

@model PinterestClone.Models.Photo

<div class="text-center">
    <h1 class="display-4">Post a Photo</h1>
</div>

<div class="photo-form">
  <form asp-controller="Photos" asp-action="Create" method="post">
    <div class="form-group">
      <label for="Title">Title</label>
      <input class="form-control" type="text" id="Title" asp-for="Title" required/>
    </div>
    <div class="form-group">
      <label for="Url">URL</label>
      <input class="form-control" type="text" id="Url" asp-for="Url" required/>
    </div>
    <div class="form-group">
      <label for="taglist">Hashtags</label>
      <input class="form-control" type="text" id="TagList" asp-for="TagList" required/>
      <small class="form-text text-muted">Enter tags, separated by # <br>e.g. #dog#cute#my_puppy</small>
    </div>
      <input type="hidden" asp-for="UserName" value="@User.Identity.Name"/>
    <div class="form-group">
      <input type="submit" value="Post your photo" class="btn btn-default" />
      <small class="form-text text-muted"><a asp-action="Index">Cancel</a></small>
    </div>
  </form>
</div>