@{
    ViewData["Title"] = "Photo Details";
}
@using System.Collections.Generic;
@model PinterestClone.Models.Photo

<div class="text-center">
    <h1 class="display-4">Edit @Model.Title</h1>
</div>

<div class="photo-form">
  @using (Html.BeginForm())
  {
    <label for="Title">Title</label>
    <input type="text" id="Title" asp-for="Title" value="@Model.Title"/>

    <label for="Url">URL</label>
    <input type="text" id="Url" asp-for="Url" value="@Model.Url"/>

    <label for="taglist">Hashtags</label>
    <small class="form-text text-muted">Enter tags, separated by #</small>
    <input type="text" id="TagList" asp-for="TagList" value="@Model.TagList"/>


    <input type="hidden" asp-for="UserName" value="FIXED_USERNAME"/>

    <input type="submit" value="Post your photo" class="btn" />
    <small class="form-text text-muted"><a asp-action="Index">Cancel</a></small>
  }
</div>